* {
    font-family: 'MedievalSharp';
}

@font-face {
    font-family: MedievalSharp-Regular;
    src: url('/assets/fonts/MedievalSharp-Regular.ttf') format('truetype');
}

html,
body {
    background-image: url(/img/fondo_pixelart2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-y: hidden;
    height: 100%;
}

/* HEADER */

#header {
    background-color: #856127;
    box-shadow: 0 4px 2px -2px rgb(0, 0, 0);
}

/* CONTENT */

#content {
    overflow-y: auto;
    height: 88%;
}

#content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(245, 245, 245, 0.3);
    border-radius: 10px;
}

#content::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

#content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
            40% 0%,
            75% 84%,
            from(#856127),
            to(#7a5314),
            color-stop(.6, #ffc800))
}


/* APP */

#app {
    border: solid #856127 2px;
    border-radius: 5px;
}

/* INFORMATION */

#info {
    border-radius: 8px;
    background-color: rgb(133, 97, 39, 0.8);
    margin-left: 10.5%;
    margin-right: 10.5%;
    padding-top: 2em;
}

#descripcion {
    margin-right: 10%;
    margin-left: 10%;
}

#descripcion>h1 {
    font-size: 50px;
    font-weight: bold;
    background: -webkit-linear-gradient(#ffc800 59%, #856127);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#descripcion>h1>span {
    font-size: 90px;
}

#descripcion>p {
    font-size: 22px;
    color: white;
}

#controls {
    margin-right: 10%;
    margin-left: 10%;
}

#controls>h1 {
    font-size: 50px;
    font-weight: bold;
    background: -webkit-linear-gradient(#ffc800 59%, #856127);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#controls>h1>span {
    font-size: 90px;
}

#controls>p {
    font-size: 22px;
    color: white;
}

#orMovement>h1 {
    color: white;
}

.titleMovement>h1 {
    color: white;
    font-size: 40px;
}

.g {
    margin-left: 130px;
}

button.dropdown-toggle{
    background-color: #7a5314;
    border: none;
}

button.dropdown-toggle:hover{
    background-color: #ffc800;
    border: none;
}

button.dropdown-toggle.show{
    background-color: #ffc800 !important;
}

button.dropdown-toggle>i {
    font-size: 25px;
}

.dropdown-menu{
    background-color: rgba(122, 83, 20, 0.75) !important;
    border-color:white !important;
}

.dropdown-item{
    color: white !important;
}

.dropdown-item:hover{
    color: white !important;
    font-weight: bold !important;
    background-color: #ffc800 !important;
}

/* RESIZING */

@media screen and (max-width: 1600px) {
    #content {
        height: 85%;
    }
}